@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was designed for researchers to be able to store data about the process of tagging and tracking sharks. They are able to create, view, edit, and delete information regarding the tags, sharks, tagging events, tagging locations, and the places the tags pinged the satellite.</p>
