@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<!--<address>
    Daniele Thomas<br />
    Edinburgh, IN 46124<br />-->
@*<abbr title="Phone">P:</abbr>
    317-496-0907*@
<!--</address>-->
<!
<br />
<br />
<br />
<body class="contact">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Contact Section -->
    <section id="contact"></section>
    <div class="container">
        <h2 class="text-center text-uppercase"><i class="fas fa-comments"></i><strong>Contact Me</strong></h2>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <form action="https://formspree.io/f/xzbydelv" method="POST" class="align-content-center">
                <div class="control-group">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Your Name"
                               id="name"
                               required
                               data-validation-required-message="Please enter your name"
                               name="name">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email"
                               class="form-control"
                               placeholder="Your Email"
                               id="email"
                               required
                               data-validation-required-message="Please enter your email"
                               name="_replyto">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group">
                        <textarea class="form-control"
                                  rows="7"
                                  placeholder="Your Message"
                                  id="message"
                                  required
                                  data-validation-required-message="Please leave a message"
                                  name="message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="text-center">
                    <div id="success"></div>
                    <button type="submit" class="btn btn-lg btn-outline-light">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        Send Message
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>