@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Daniele Thomas<br />
    Edinburgh, IN 46124<br />
    @*<abbr title="Phone">P:</abbr>
    317-496-0907*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:DanieleSThomas6@gmail.com">DanieleSThomas6@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>