body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-image: url('../Images/underwater-2615376_1920.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.ocean {
    background-image: url('../Images/underwater-2615376_1920.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

table{
    border: 1px solid #1b33ba;
    border-collapse: collapse;
}
td,th{
    border-bottom: 1px solid #1b33ba;
    padding: 0.5rem;
}
th{
    text-align: left;
    background-color: #1b33ba;
    color: white;
}
tbody tr:nth-child(even){
    background-color: #a9e6e7;
    
}
tbody tr:nth-child(odd){
    background-color: #47c4c6;
}
caption {
    font-weight: bold;
    text-align: left;
    font-size: 2rem;
    padding: 1rem 0;
    color: #47c4c6;
}
.jumbotron{
    background-color:#beefef;
}
h3{
    color: red;
}